body {
  margin: 0;
  background-color: bisque;
  text-align: center;
}

.main {
  padding: 8px;
}

.task {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  max-width: 200px;
  font-size: 20px;
  margin: auto;
}

.task + .task {
  margin-top: 4px;
}

.task > * + * {
  margin-left: 4px;
}

.title {
  font-size: 30px;
}

